Flask==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
Pillow==10.4.0
WTForms==3.1.2
Werkzeug==3.0.3
blinker==1.8.2
click==8.1.7
deprecated==1.2.14
flask_limiter==3.7.0
greenlet==3.0.3
gunicorn==22.0.0
itsdangerous==2.2.0
limits==3.13.0
mdurl==0.1.2
packaging==24.1
pygments==2.18.0
pytz==2024.1
redis==5.0.7
rich==13.7.1
sqlalchemy==2.0.31
wrapt==1.16.0
async-timeout==4.0.3
bootstrap-flask==2.4.0
importlib-resources==6.4.0
markdown-it-py==3.0.0
ordered-set==4.1.0
typing-extensions==4.12.2
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
feedgen==1.0.0