:root {
    --font_color: #e0e0e0;
    --link_color: #d6d6d6;
    --link_color_hover: #bbbbbb;
    --font_color_shaded: #b3b3b3;
    --background: #303030;
    --background-light: #222222;
    --background-dark: #111111;
    --border_color: #4d4d4d;
    --form_control_bg: #131313;
  }
  