a,
a:active,
a:visited,
a.btn,
a.btn:active,
a.btn:visited,
.btn,
.btn:active,
.btn:visited {
  background-color: var(--background-light);
  color: var(--link_color);
  border-color: var(--border_color);
}

a:focus,
a:hover,
a.btn:focus,
a.btn:hover,
.btn:focus,
.btn:hover {
  background-color: var(--background-light) !important;
  color: var(--link_color_hover) !important;
  border-color: var(--border_color) !important;
}

input[type=file],
input[type=number],
form > div > img,
.form-check-input,
.form-control,
.form-control:active,
.form-control:focus {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--form_control_bg);
  margin-top: 5px;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border_color);
}

input[type=number]{
 text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  color-scheme: var(--font_color);
  background-color: var(--background);
  color: var(--font_color);
  border-color: var(--border_color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

video {
  max-height: 500px;
  max-width: 90vw
}

.max_img {
  max-width: 2px;
  max-height: 2px;
}

table,
.table,
.card,
.dropdown-menu {
  color: var(--font_color);
  background-color: var(--background-light);
  border-color: var(--border_color);
}

.dropdown-item {
  color: var(--font_color);
}

.dropdown-item:active,
.dropdown-item:hover {
  color: var(--font_color_shaded);
  background-color: var(--background-light);
}

.container {
  border-color: var(--border_color) !important;
}

.card-header {
  color: var(--font_color);
  background-color: var(--background-dark);
}

.scroll_y {
  overflow-y: scroll;
  max-height: 500px;
}

.scroll_x {
  overflow-x: auto;
}

.panel {
  height: 20em;
}

.c {
  font-size: 2rem;
  display: block;
}

.p {
  font-size: 1rem;
  display: block;
}

.e {
  font-size: .8rem;
}
