:root {
  --font_color: #e0e0e0;
  --link_color: #ca7900;
  --link_color_hover: #ad6800;
  --font_color_shaded: #b3b3b3;
  --background: #303030;
  --background-light: #222222;
  --background-dark: #111111;
  --border_color: #4d4d4d;
}

.font_color {
  color: var(--font_color) !important;
  background: var(--background) !important;
  border-color: var(--border_color) !important;
}

.font_color_shaded {
  color: var(--font_color_shaded) !important;
  border-color: var(--border_color) !important;
}

button,
a,
a:active,
a:focus,
a:visited,
.link {
  color: var(--link_color);
  text-decoration: none;
}

a:hover,
.link:hover {
  color: var(--link_color_hover) !important;
}


.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:hover,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: var(--background-light);
  border-color: var(--border_color);
}

input[type=file],
.form-check-input,
.form-control,
.form-control:active,
.form-control:focus {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--background-dark);
  margin-top: 5px;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border_color);
}


html,
body {
  color-scheme: var(--font_color) !important;
  background-color: var(--background) !important;
  color: var(--font_color) !important;
  border-color: var(--border_color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

table,
.table,
.card,
.btn,
.dropdown-menu {
  color: var(--font_color);
  background-color: var(--background-light);
  border-color: var(--border_color);
}

.dropdown-item {
  color: var(--font_color);
}

.dropdown-item:active,
.dropdown-item:hover {
  color: var(--font_color_shaded);
  background-color: var(--background-light);
}

.container {
  border-color: var(--border_color) !important;
}

.card-header {
  color: var(--font_color);
  background-color: var(--background-dark);
}

.scroll_y {
  overflow-y: auto;
}

.scroll_x {
  overflow-x: auto;
}