{% extends 'layout.html' %}

{% block body %}

    <div class="mt-2 card">
        <div class="card-header">
            {{ header }}
        </div>
        <div class="card-body">

            {% if items %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                {% for a in attributes %}
                                    <th class="text-left">{{a.title()}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    {% for a in attributes %}
                                        {% if a in safe_cols %}
                                        <td class="text-left">{% if item[a] %} {{item[a] | safe}} {% endif %}</td>
                                        {% else %}
                                        <td class="text-left">{% if item[a] %} {{item[a]}} {% endif %}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Nothing here yet
            {% endif %}
        </div>
    </div>

{% endblock %}