<div class="row">
  <div style="max-width: 250px;" class="mx-auto">
    <a href="{{CONSTS.site_url}}">
      <img id="logo" class="m-2 d-block rounded" src="{{CONSTS.site_logo_url}}" />
    </a>
  </div>
</div>

<nav class="rounded">

    {% if is_admin %}
      <div class="m-2">
        <div>
          Post
        </div>
        <ul >
          <li><a href="{{ url_for('bp_post.post_list') }}">Posts</a></li>
          <li><a href="{{ url_for('bp_post.post_create') }}">New Post</a></li>
        </ul>
      </div>

      <div class="m-2">
        <div>
          Admin
        </div>
        <ul>
          <li><a href="{{ url_for('bp_admin.admin_contacts') }}">Messages</a></li>
          <li><a href="{{ url_for('bp_admin.admin_comments') }}">Comments</a></li>
          <li><a href="{{ url_for('bp_admin.admin_logs') }}">Logs</a></li>
        </ul>
      </div>

      <div class="m-2">
        <div>
          Profile
        </div>
        <ul>
          <li><a href="{{ url_for('bp_user.user_read') }}">View/Edit</a></li>
          <li><a href="{{ url_for('bp_auth.logout') }}">Logout</a></li>
        </ul>
      </div>

    {% else %}
      <a class="btn m-1" href="{{ url_for('index') }}">{{CONSTS.site_name}}</a>
      <a class="btn m-1" href="{{ url_for('bp_post.post_list') }}">Posts</a>
      {% for name, path in CONSTS.navlinks.items() %}
        <a class="btn m-1 {{path}}" href="/{{path}}">{{name}}</a>
      {% endfor %}
    {% endif %}
</nav>