{% extends 'layout.html' %}

{% block body %}

    <div class="mt-2 card">

        <div class="card-header">
            {% if is_admin %}
                <div class="d-flex">
                    <div>
                        <h3 class="container mt-2">{{post.title}}</h3>
                        <small>{{post.published_date.strftime('%Y-%m-%d')}}</small>
                    </div>

                    <div class="container">
                        <div class="d-flex justify-content-end">
                            {% include 'post_edit_link.html' %}
                            {% include 'post_delete_button.html' %}
                        </div>
                    </div>
                </div>
            {% else %}
                <h2>{{post.title}}</h2>
                <small>{{post.published_date.strftime('%Y-%m-%d')}}</small>
            {% endif %}
        </div>

        {% if post.text %}
            <div class="card-body">
                {{post.text | safe}}
            </div>
        {% endif %}

        {% include 'file_downloads.html' %}

        <div class="card-footer">
            <div>
                {% if post.tags %}
                    Tags: {% include 'tag_links.html' %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
