{% from 'bootstrap5/form.html' import render_field %}
{% extends 'layout.html' %}

{% block body %}

    <div class="mt-2 card scroll_x">

        <div class="card-header">
            {% if is_admin %}
                <div class="container">
                    <div>
                        <h3 class="mt-2">{{post.title}}</h3>
                        <small><b>Published:</b> {{post.published_date.strftime(CONSTS.datetime_format)}}</small>

                        {% if post.published_date != post.last_modified_date %}
                            <br>
                            <small><b>Last Modified:</b> {{post.last_modified_date.strftime(CONSTS.datetime_format)}}</small>
                        {% endif %}
                        <br>
                        <br>
                        {% include 'post_edit_link.html' %}
                        {% include 'post_delete_button.html' %}
                    </div>
                </div>
                {% include 'post_delete_script.html' %}
            {% else %}
                <h2>{{post.title}}</h2>
                <small><b>Published:</b> {{post.published_date.strftime(CONSTS.datetime_format)}}</small>
                {% if post.published_date != post.last_modified_date %}
                    <br>
                    <small><b>Last Modified:</b> {{post.last_modified_date.strftime(CONSTS.datetime_format)}}</small>
                {% endif %}
            {% endif %}
        </div>

        {% if post.text_html %}
            <div class="card-body">
                <div id='text'>{{post.text_html | safe}}</div>
            </div>
        {% endif %}

        {% include 'file_downloads.html' %}

        <div class="card-footer">
            <div>
                {% if post.tags %}
                    Tags: {% include 'tag_links.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-header">
                    Comment
                </div>
                <div class="card-body">
                    {% if is_admin %}
                    <form id="main_form" action="{{url_for('bp_post.admin_post_read_path', post_path=post.path)}}" method="post" novalidate=True>
                    {% else %}
                    <form id="main_form" action="{{url_for('bp_post.post_read_path', post_path=post.path)}}" method="post" novalidate=True>
                    {% endif %}
                        {{ form.csrf_token() }}
                        {{ render_field(form.title) }}
                        {{ render_field(form.text) }}
                        {% include 'math_captcha.html' %}
                        {{ render_field(form.submit, button_style="btn btn-md btn-primary mt-2") }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">

            {% if post and post.comments %}
                <h3>Comments</h3>

                <div class="card scroll_y p-2" style="height: 20em; max-height: 20em;">
                    {% for comment in post.comments %}
                        <div class="container rounded border border-1 mb-2">
                            <div class="d-flex justify-content-between">
                                <div class="fw-bold">
                                    {{comment.title}}
                                </div>
                                <small>
                                    {{ comment.published_date.strftime(CONSTS.datetime_format) }}
                                </small>
                            </div>
                            <small>
                                {{comment.text}}
                            </small>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        No comments yet...
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
