{% extends 'layout.html' %}

{% block body %}

    <div class="mt-2 card">
        <div class="card-header">
            {% if header %}
                {{header}}
            {% else %}
                Posts
            {% endif %}
        </div>
        <div class="card-body">
            {% if not posts %}
                Nothing here yet
            {% else %}
                <div class="table-responsive">
                    <table class="table table-sm align-middle p-2 table-borderless">
                        <thead>
                            <tr>
                                {% if is_admin %}
                                    <th class="col-1 text-center">Delete</th>
                                    <th class="col-1 text-center">Edit</th>
                                {% endif %}

                                <th class="text-left">Title</th>
                                <th class="text-left">Tags</th>

                                <th class="text-center">Date</th>

                                {% if is_admin %}
                                    <th class="text-left">Published</th>
                                {% endif %}
                                <tr>
                                </thead>
                                <tbody>
                                    {% for post in posts %}
                                        <tr>
                                            {% if is_admin %}
                                                <td class="col-1 text-center">
                                                    {% include 'post_delete_button.html' %}
                                                </td>
                                                <td class="col-1 text-center">
                                                    {% include 'post_edit_link.html' %}
                                                </td>
                                            {% endif %}

                                            <td class="col-5 text-left">
                                                {% if is_admin %}
                                                    <a href="{{url_for('bp_post.admin_post_read', post_id=post.id)}}">
                                                        {{post.title}}
                                                    </a>
                                                {% else %}
                                                    <a href="{{url_for('bp_post.post_read', post_id=post.id)}}">
                                                        {{post.title}}
                                                    </a>
                                                {% endif %}
                                            </td>

                                            <td class="col-3 text-right">
                                                {% include 'tag_links.html' %}
                                            </td>

                                            <td class="col-1 text-center">
                                                <small>{{post.published_date.strftime(CONSTS.datetime_format)}}</small>
                                            </td>

                                            {% if is_admin %}
                                                <td class="col-1 text-center">
                                                    {% if post.is_published %}
                                                        {% include 'icon_see.html' %}
                                                    {% else %}
                                                        {% include 'icon_no_see.html' %}
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            {% endif %}

        </div>
    </div>

    {% include 'post_delete_script.html' %}


{% endblock %}